/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  padding: 0;
  margin: 0;
}
.ant-drawer-header-title {
  flex-direction: row-reverse;
}
.ant-picker-calendar-header {
  padding: 12px !important;
}

@media (max-width: 1023px) {
  .ant-picker-calendar-date-content .events {
    display: none;
  }
}
@media (max-width: 580px) {
  .ant-picker-datetime-panel {
    flex-direction: column;
  }
  .ant-picker-dropdown {
    position: fixed!important;
    top: 10px!important;
  }
}